* {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background: rgb(0, 0, 88);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 88, 1) 0%,
    rgba(0, 0, 18, 1) 100%
  );
  color: white;
  width: 100vw;
  height: 100vh;
}
a {
  text-decoration: none;
}
.section-form {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
}
.box-title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  grid-column: 1/5;
  margin: 0 auto;
}
.line-left {
  grid-column: 1;
  position: relative;
  top: 55px;
  left: -80px;
}
.line-right {
  grid-column: 3;
  position: relative;
  top: -50px;
  right: -80px;
}
.line {
  border-top: 1px solid white;
  width: 150px;
  opacity: 0.4;
}

h1 {
  font-size: 1.5em;
  grid-column: 1/4;
  text-align: center;
}
.logo-form-link {
  grid-column: 1/5;
  text-align: center;
  position: relative;
  top: -20px;
  opacity: 0.95;
}
.logo-form {
  width: 15%;
}
.info-form {
  font-size: 0.8em;
  grid-column: 1/5;
  text-align: center;
  position: relative;
  top: -60px;
}
label {
  position: relative;
  top: 10px;
}
form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 8px;
  grid-column: 1/5;
  margin: 0 auto;
  position: relative;
  top: -75px;
}
form input {
  background: transparent;
  border: 1px solid white;
  height: 35px;
  width: 400px;
  padding-left: 10px;
  color: white;
}
::placeholder {
  color: white;
  opacity: 0.3;
}

input:focus {
  outline: 3px solid #d95e06;
  opacity: 0.8;
}

input:focus::-webkit-input-placeholder {
  color: #d95e06;
}

input:valid {
  border: 1px solid white;
  color: white;
}
input:invalid {
  color: orange;
}

form .signup {
  padding: 0.7em;
  width: 20%;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}
.signup {
  margin: 0 auto;
}

form .signup:hover {
  background: white;
  color: black;
  transition: 0.5s;
}

.min-characteres {
  font-size: 0.7em;
  margin-left: 220px;
  opacity: 0.7;
}

/*  page style  when form validated and submitted */
.validated-page {
  display: none;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 88, 1) 0%,
    rgba(0, 0, 18, 1) 100%
  );
}
.success {
  width: 100vw;
  height: 100vw;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
}
.message-form-validated {
  grid-column: 1/5;
  grid-row: 2;
  text-align: center;
  position: relative;
  bottom: 100px;
}
.linkpagesuccess-oddset {
  color: white;
  opacity: 0.3;
}
.linkpagesuccess-oddset:hover {
  color: orange;
  opacity: 1;
  transition: 1s;
}
