@import url("https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap");

body {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

#background,
#logo,
#interface,
.score-board,
.result {
  position: relative;
}

#logo,
#interface,
.score-board,
.result {
  position: absolute;
  top: 0px;
  left: 0px;
}

/* ----- SVG Classes ----- */

.st0 {
  fill: url(#SVGID_1_);
}
.st1 {
  fill: url(#SVGID_2_);
}
.st2 {
  fill: none;
  stroke: url(#SVGID_3_);
  stroke-width: 7.7363;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st3 {
  fill: #ed1c24;
}
.st4 {
  opacity: 0.7;
  fill: #f2f2f2;
}
.st5 {
  fill: #ffffff;
}
.st6 {
  fill: none;
  stroke: #000000;
  stroke-width: 1.5473;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st7 {
  fill: #003e99;
}
.st8 {
  stroke: #000000;
  stroke-width: 1.5473;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st9 {
  fill: #ffffff;
  stroke: #000000;
  stroke-width: 1.5473;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st10 {
  fill: none;
}
.st11 {
  font-family: "Rubik-Bold";
}
.st12 {
  font-size: 18.5672px;
}
.st13 {
  display: none;
  fill: url(#SVGID_4_);
}
.st14 {
  filter: url(#Adobe_OpacityMaskFilter);
}
.st15 {
  opacity: 0.9;
  mask: url(#SVGID_5_);
}
.st16 {
  display: none;
  fill: #514204;
}
.st17 {
  display: none;
  fill: #031123;
}
.st18 {
  display: none;
  fill: url(#SVGID_6_);
}
.st19 {
  filter: url(#Adobe_OpacityMaskFilter_1_);
}
.st20 {
  opacity: 0.9;
  mask: url(#SVGID_7_);
}
.st21 {
  display: none;
  fill: url(#SVGID_8_);
}
.st22 {
  filter: url(#Adobe_OpacityMaskFilter_2_);
}
.st23 {
  opacity: 0.9;
  mask: url(#SVGID_9_);
}
.st24 {
  font-size: 10.0572px;
}
.st25 {
  fill: url(#SVGID_10_);
}
.st26 {
  fill: url(#SVGID_11_);
}
.st27 {
  fill: none;
  stroke: url(#SVGID_12_);
  stroke-width: 7.7363;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st28 {
  fill: #f2f2f2;
}
.st29 {
  fill: #c69c6d;
}
.st30 {
  fill: #cccccc;
}
.st31 {
  fill: url(#SVGID_13_);
  stroke: #000000;
  stroke-width: 2.3209;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st32 {
  fill: url(#SVGID_14_);
  stroke: #000000;
  stroke-width: 2.3209;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st33 {
  opacity: 0.7;
  fill: #1a1a1a;
}
.st34 {
  fill: none;
  stroke: #000000;
  stroke-width: 2.3209;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st35 {
  display: none;
  fill: url(#SVGID_15_);
}
.st36 {
  filter: url(#Adobe_OpacityMaskFilter_3_);
}
.st37 {
  opacity: 0.9;
  mask: url(#SVGID_16_);
}
.st38 {
  display: none;
  fill: url(#SVGID_17_);
}
.st39 {
  filter: url(#Adobe_OpacityMaskFilter_4_);
}
.st40 {
  opacity: 0.9;
  mask: url(#SVGID_18_);
}
.st41 {
  display: none;
  fill: url(#SVGID_19_);
}
.st42 {
  filter: url(#Adobe_OpacityMaskFilter_5_);
}
.st43 {
  opacity: 0.9;
  mask: url(#SVGID_20_);
}
.st44 {
  fill: url(#SVGID_21_);
  stroke: #ffffff;
  stroke-width: 6;
  stroke-miterlimit: 10;
}
.st45 {
  fill: url(#SVGID_22_);
  stroke: #ffffff;
  stroke-width: 6;
  stroke-miterlimit: 10;
}
.st46 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 2.4838;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st47 {
  fill: url(#SVGID_23_);
  stroke: #ffffff;
  stroke-width: 6;
  stroke-miterlimit: 10;
}
.st48 {
  opacity: 0.5;
  fill: url(#SVGID_24_);
  stroke: #ffffff;
  stroke-width: 1.7589;
  stroke-miterlimit: 10;
}
.st49 {
  opacity: 0.5;
}

/* ----- Animations start here ----- */

/* Intro Game */

#messi {
  animation: moveRight 1.5s ease-in reverse forwards;
}

@keyframes moveRight {
  from {
    transform: none;
  }
  to {
    transform: translateX(-75px);
  }
}

#blob-vader {
  animation: moveLeft 1.5s ease-in reverse forwards;
}

@keyframes moveLeft {
  from {
    transform: none;
  }
  to {
    transform: translateX(75px);
  }
}

#txt_make-move {
  opacity: 0;
  animation: appear 1.5s ease-in forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.result,
.score-board {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
}

.score-board {
  color: #051c3e;
  margin: 21% 42% auto 42%;
  font-size: 150px;
  /* display: grid;
  grid-template: "" "" "" "versus" "" "";
  grid-auto-rows: 1fr 1fr 1fr 1fr 1fr 1fr; */
}

.result {
  color: white;
  margin: 37% auto auto 25%;
  font-size: 50px;
}

.choice:hover {
  cursor: pointer;
}

.green-win {
  stroke: rgb(113, 182, 10);
  stroke-width: 8px;
}

.orange-lose {
  stroke: #dc5f11;
  stroke-width: 8px;
}

.gold-draw {
  stroke: #ca9f11;
  stroke-width: 8px;
}
