@import url("https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap");

body {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  width: 1480px;
  height: auto;
}

#background,
#logo,
#interface {
  position: relative;
  width: 1450px;
  height: auto;
}

div {
  position: relative;
}

#logo,
#interface,
.score-board,
.result {
  position: absolute;
  top: 0px;
  left: 0px;
}

/* ----- SVG Classes ----- */

.st0 {
  fill: url(#SVGID_1_);
}
.st1 {
  fill: url(#SVGID_2_);
}
.st2 {
  fill: url(#SVGID_3_);
}
.st3 {
  fill: #ffffff;
}
.st4 {
  fill: none;
  stroke: url(#SVGID_4_);
  stroke-width: 7.7363;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st5 {
  fill: #ed1c24;
}
.st6 {
  opacity: 0.7;
  fill: #f2f2f2;
  enable-background: new;
}
.st7 {
  fill: none;
  stroke: #000000;
  stroke-width: 1.5473;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st8 {
  fill: #003e99;
}
.st9 {
  stroke: #000000;
  stroke-width: 1.5473;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st10 {
  fill: #ffffff;
  stroke: #000000;
  stroke-width: 1.5473;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st11 {
  fill: none;
}
.st12 {
  enable-background: new;
}
.st13 {
  fill: url(#SVGID_5_);
}
.st14 {
  fill: url(#SVGID_6_);
}
.st15 {
  fill: url(#SVGID_7_);
}
.st16 {
  fill: none;
  stroke: url(#SVGID_8_);
  stroke-width: 7.7363;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st17 {
  fill: #f2f2f2;
}
.st18 {
  fill: #c69c6d;
}
.st19 {
  fill: #cccccc;
}
.st20 {
  fill: url(#SVGID_9_);
  stroke: #000000;
  stroke-width: 2.3209;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st21 {
  fill: url(#SVGID_10_);
  stroke: #000000;
  stroke-width: 2.3209;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st22 {
  opacity: 0.7;
  fill: #1a1a1a;
  enable-background: new;
}
.st23 {
  fill: none;
  stroke: #000000;
  stroke-width: 2.3209;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st24 {
  fill: url(#SVGID_11_);
  stroke: #ffffff;
  stroke-width: 6;
  stroke-miterlimit: 10;
}
.st25 {
  fill: url(#SVGID_12_);
  stroke: #ffffff;
  stroke-width: 6;
  stroke-miterlimit: 10;
}
.st26 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 2.4838;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st27 {
  fill: url(#SVGID_13_);
  stroke: #ffffff;
  stroke-width: 6;
  stroke-miterlimit: 10;
}
.st28 {
  opacity: 0.5;
  enable-background: new;
}
.st29 {
  fill: url(#SVGID_14_);
}
.st30 {
  opacity: 0.5;
}

/* ----- Animations start here ----- */

/* Intro Game */

#messi {
  animation: moveRight 1.5s ease-in reverse forwards;
}

@keyframes moveRight {
  from {
    transform: none;
  }
  to {
    transform: translateX(-75px);
  }
}

#blob-vader {
  animation: moveLeft 1.5s ease-in reverse forwards;
}

@keyframes moveLeft {
  from {
    transform: none;
  }
  to {
    transform: translateX(75px);
  }
}

#txt_make-move {
  opacity: 0;
  animation: appear 1.5s ease-in forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.result,
.score-board {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
}

.score-board {
  color: #051c3e;
  top: 260px;
  left: 630px;
  /* margin: 21% 42% auto 42%; */
  font-size: 130px;
  /* display: grid;
  grid-template: "" "" "" "versus" "" "";
  grid-auto-rows: 1fr 1fr 1fr 1fr 1fr 1fr; */
}

.result {
  color: white;
  /* margin: 37% auto auto 25%; */
  top: 440px;
  left: 400px;
  font-size: 45px;
}

.choice:hover {
  cursor: pointer;
}

.green-win {
  stroke: rgb(113, 182, 10);
  stroke-width: 8px;
}

.orange-lose {
  stroke: #dc5f11;
  stroke-width: 8px;
}

.gold-draw {
  stroke: #ca9f11;
  stroke-width: 8px;
}
